body {
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
  font-size: 1em;
  background-color: #010101;
  color: #f6f6f6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: calc(2.4em + 0.4vw);
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.4em;
  margin: 0;
  padding: 0;
  max-width: 900px;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  padding: 1em;
  width: calc(7em + 0.2vw);
  height: calc(7em + 0.2vw);
  font-size: 1.4em;
  position: relative;
  background-color: #de9d9d;
  border-radius: 0.2em;
}


a:first-child {
  color: #222;
  background: #ffffff;
  background-image: radial-gradient(at 89.2% 45.5%, hsla(54, 100%, 56%, 0.969) 0px, transparent 45%),
    radial-gradient(at 89.2% 75.5%, hsla(37, 100%, 56%, 0.969) 0px, transparent 30%),
    linear-gradient(305deg, hsla(4, 95%, 52%, 0.951) 0px, transparent 25%),
    radial-gradient(at 74.3% 100.6%, hsla(187, 94%, 52%, 0.946) 0px, transparent 40%);
}

a:nth-child(2) {
  color: #f5af68;
  background: linear-gradient(235deg, #FFFFFF 0%, #000F25 100%), linear-gradient(180deg, #6100FF 0%, #000000 100%), linear-gradient(235deg, #6b373c 0%, #603237 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%), linear-gradient(125deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%);
  background-blend-mode: soft-light, screen, darken, normal;
}

a:nth-child(3) {
  color: #1df04b;
  background: linear-gradient(235deg, #BABC4A 0%, #000000 100%), linear-gradient(235deg, #0026AC 0%, #282534 100%), linear-gradient(235deg, #00FFD1 0%, #000000 100%), radial-gradient(120% 185% at 25% -25%, #EEEEEE 0%, #EEEEEE 40%, #7971EA calc(40% + 1px), #7971EA 50%, #393E46 calc(50% + 1px), #393E46 70%, #222831 calc(70% + 1px), #222831 100%), radial-gradient(70% 140% at 90% 10%, #F5F5C6 0%, #F5F5C6 30%, #7DA87B calc(30% + 1px), #7DA87B 60%, #326765 calc(60% + 1px), #326765 80%, #27253D calc(80% + 1px), #27253D 100%);
  background-blend-mode: overlay, lighten, overlay, color-burn, normal;
}

a:nth-child(4) {
  color: #f8dd2f;
  background: radial-gradient(100% 135% at 90% 0%, #00FF66 0%, #00FF66 33%, #00FFFF calc(33% + 1px), #00FFFF 75%, #EB00FF calc(75% + 1px), #EB00FF 100%), radial-gradient(circle at 60% 110%, #00FF66 0%, #00FF66 33%, #00FFFF calc(33% + 1px), #00FFFF 66%, #EB00FF calc(66% + 1px), #EB00FF 100%), radial-gradient(100% 225% at 0% 0%, #00FF66 0%, #00FF66 33%, #00FFFF calc(33% + 1px), #00FFFF 66%, #EB00FF calc(66% + 1px), #EB00FF 100%);
  background-blend-mode: multiply, multiply, normal;

}

a:nth-child(5) {
  color: #6cdd53;
  background: radial-gradient(65% 100% at 50% 0%, #18005B 0%, #000000 100%), radial-gradient(circle at 30% 45%, #FF0000 0%, #FF0000 5%, #FFFF00 5%, #FFFF00 10%, #00FF00 10%, #00FF00 15%, #00FFFF 15%, #00FFFF 20%, #0000FF 20%, #0000FF 30%, #FF00FF 30%, #FF00FF 40%, #FF0000 40%), radial-gradient(circle at 50% 0%, #FF0000 0%, #FF0000 5%, #FFFF00 5%, #FFFF00 10%, #00FF00 10%, #00FF00 20%, #00FFFF 20%, #00FFFF 30%, #0000FF 30%, #0000FF 40%, #FF00FF 40%, #FF00FF 50%, #FF0000 50%), conic-gradient(from 15deg at 20% 420%, #FF0000 0deg, #FF0000 55deg, #FFFF00 60deg, #FFFF00 120deg, #00FF00 120deg, #00FF00 180deg, #00FFFF 180deg, #00FFFF 240deg, #0000FF 240deg, #0000FF 300deg, #FF00FF 310deg, #FF00FF 360deg, #FF0000 360deg);
  background-blend-mode: screen, multiply, multiply, normal;

}

a:nth-child(6) {
  color: #fff;
  background: linear-gradient(238deg, rgb(255, 0, 153) 0%, rgb(59, 0, 135) 100%), linear-gradient(300deg, rgb(27, 255, 0) 0%, rgb(66, 0, 255) 100%), linear-gradient(238deg, rgb(255, 255, 255) 50%, rgb(0, 243, 255) 100%), radial-gradient(100% 163% at 0% 100%, rgb(0, 255, 71) 0%, rgb(0, 74, 184) 50%, rgb(255, 0, 0) 100%), radial-gradient(100% 225% at 0% 100%, rgb(255, 0, 0) 0%, rgb(255, 0, 0) 100%), radial-gradient(100% 140% at 100% 0%, rgb(216, 0, 255) 0%, rgb(0, 224, 255) 50%, rgb(0, 19, 186) 100%);
  background-blend-mode: overlay, color-burn, multiply, difference, difference, normal;

}

a:hover {
  cursor: pointer;
}